@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap");

.goal-container {
  margin: 1rem; /* m-4 */
  border-radius: 0.25rem; /* rounded */
  border-width: 0.25rem; /* border-4 */
  border-color: #f9fafb; /* border-white-500 */
  padding: 0.5rem; /* p-2 */
  text-align: center; /* text-center */
  font-size: 2.25rem; /* text-4xl */
  width: 100%;
  max-width: 500px;
  height: 500px;
  color: #ffffff; /* text-white */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button {
  background-color: #fff;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background-color: rgb(252, 252, 72);
}
